body
{
margin           : 0                     ;
font-family      : Open Sans, sans-serif ;
background-color : white            ;
}

div#fejlec
{
background-color : #FFF                  ;
height           : 102px                 ;

}

a#cimerkep
{
display          : block                 ;
float            : left                  ;
margin           : 25px 40px             ;
text-decoration  : none                  ;
}

a#cimerkep img
{
height           : 48px                  ; 
}

div#belepes{
  float: right;
  margin-right: 30px;
}

div#menu
{

width            : 100%                ;
padding          : 26px 0                ;
font-size        : 15px                  ;
font-weight      : bold                  ;
line-height      : 22px                  ;
}


div#menu a
{
display          : inline-block          ;
width            : 120px                 ;
padding          : 14px 0                ;
text-align       : left                  ;
color            : #777                ;
text-decoration  : none                  ;
}

div#menu a:hover
{
  /*background-color : #009B77               ;
    color            : #FFF                  ;
  */
  background-color: white;  
    color: #009B77 ; 
}


div#belepes a
{
display          : inline-block          ;
width            : 30px                  ;
padding          : 14px 0                ;
padding-right    : 30px                  ; 
text-align       : center                ;
color            : #777                ;
text-decoration  : none                  ;
}

div#belepes a:hover
{
    background-color: white;  
    color: #009B77 ;         
}


.kilepesgomb{
  width: 25px;
  height: 25px;
  position: absolute;
  top: 38px;
  
  

  
}
.kilepesgomb:hover{
  background-color: rgb(176, 202, 197);
  border-radius: 5px;
}



dbody 
{
  font-family:sans-serif; 
  background: -webkit-linear-gradient(to right, #155799, #159957); 
  background: linear-gradient(to right, #155799, #159957); 
  background-color : #009B77               ;
}


h1{
    text-align: center;
    color : #009B77               ;

}
h2{
  text-align: center;
  color : #009B77               ;

}
h3{
  text-align: center;
  color : #777               ;

}
h4{
  text-align: center;
  color : #009B77               ;

}
p{
  text-align: center;
  color : #009B77               ;

}

div#tartalom
{
min-height       : 480px                 ;
max-width        : 1280px                ;
margin           : 12px auto             ;
padding          : 16px 80px 120px 80px  ;
}

div#tartalom h1
{
color            : #097                  ;
font-size        : 26px                  ;
font-weight      : normal                ;
}

div#szoveg
{
color            : #333                  ;
font-size        : 15px                  ;
line-height      : 23px                  ;
text-align       : justify               ;
}

div#szoveg img.kiskep
{
float            : right                 ;
border           : solid 1px #666        ;
border-radius    : 4px                   ;
box-shadow       : 2px 2px 1px #888      ;
}

div#szoveg ul li span
{
display          : inline-block          ;
width            : 200px                 ;
font-weight      : bold                  ;
}

div#szoveg a
{
text-decoration  : none                  ;
color            : #228                  ;
}

div#szoveg a:hover
{
text-decoration  : underline             ;
}

ul.valaszok
{
font-weight      : bold                  ;
}

span.adatcimke
{
display          : inline-block          ;
line-height      : 30px                  ;
width            : 120px                 ;
}

.subcontainer-1{
  color: #009B77;
  display:inline;
  text-align: center;
  width: 560px;
}

h2.alcim
{
font-style  : italic        ;
color       : #097          ;
}


p.bevezetes
{
font-style  : italic        ;
}

p.kerdes
{
margin      : 16px 0 0 16px ;
font-weight : bold          ;
}

p.valasz
{
margin      : 0 0 16px 16px ;
}


/*-----------------------------Alap vége-----------------------------------*/

form{
    width:35rem;
    margin: auto;
    color:#777;
    background-color: white;
    box-shadow: 0px 0px 3px 0px;
    padding: 5px 30px 5px 30px ;
    
    

}

input{
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    padding: 15px 18px;
    box-sizing: border-box;
    border-color: #85bdb0,;
    
  }

button {
    background-color: #009B77;
    color: white;
    padding: 14px 20px;
    border-radius: 5px;
    margin: 7px 0;
    width: 100%;
    font-size: 18px;
  }

button:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  .loginFormContainer, .regFormContainer{
    display: flex;
    align-items: center;
    height: calc(100vh - 102px);
    justify-content: center;
    margin-top: 10px;
    
  }
  /*-----------------------------Form vége-----------------------------------*/

#kisablak{
    display: none;
}


